<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Competition</mat-label>
  <input
    type="text"
    placeholder="Start typing..."
    matInput
    [formControl]="formControl"
    [matAutocomplete]="auto"
  >
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="onOptionSelected($event)"
  >
    <mat-option
      *ngFor="let competition of filteredCompetitions$ | async"
      [value]="competition"
    >{{ displayFn(competition) }}</mat-option>
  </mat-autocomplete>
</mat-form-field>
